In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import OneHotEncoder, StandardScaler,  MinMaxScaler, FunctionTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.compose import TransformedTargetRegressor

from sklearn.metrics import mean_absolute_error
import xgboost as xgb
#import lightgbm as lgb

## 1. Global parameters

In [5]:
features_dir = '../data/01_raw/dengue_features_train.csv'
labels_dir = '../data/01_raw/dengue_labels_train.csv'
test_dir = '../data/01_raw/dengue_features_test.csv'

logged = True

test_output_dir = 'output.csv'

## 2. Building blocks functions

In [6]:
def get_train_data(features_dir, labels_dir):
    """ 
    Input:
        str to csv with train features and labels
        drop: to drop NaNs from feature columns.

    Output:
         X, y
    
    """
    features = pd.read_csv(features_dir)
    labels = pd.read_csv(labels_dir)

    data = features.merge(labels)
    
    X = data.drop(columns=['total_cases'])
    y = data.loc[:,'total_cases']
    print("Loading of training data finished.\n")
        
    return data, X, y

In [7]:
data, X, y = get_train_data(features_dir, labels_dir)
data

Loading of training data finished.

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,total_cases
0,sj,1990,18,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0,4
1,sj,1990,19,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6,5
2,sj,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4,4
3,sj,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0,3
4,sj,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451,iq,2010,21,2010-05-28,0.342750,0.318900,0.256343,0.292514,55.30,299.334286,...,88.765714,55.30,18.485714,9.800000,28.633333,11.933333,35.4,22.4,27.0,5
1452,iq,2010,22,2010-06-04,0.160157,0.160371,0.136043,0.225657,86.47,298.330000,...,91.600000,86.47,18.070000,7.471429,27.433333,10.500000,34.7,21.7,36.6,8
1453,iq,2010,23,2010-06-11,0.247057,0.146057,0.250357,0.233714,58.94,296.598571,...,94.280000,58.94,17.008571,7.500000,24.400000,6.900000,32.2,19.2,7.4,1
1454,iq,2010,24,2010-06-18,0.333914,0.245771,0.278886,0.325486,59.67,296.345714,...,94.660000,59.67,16.815714,7.871429,25.433333,8.733333,31.2,21.0,16.0,1
1455,iq,2010,25,2010-06-25,0.298186,0.232971,0.274214,0.315757,63.22,298.097143,...,89.082857,63.22,17.355714,11.014286,27.475000,9.900000,33.7,22.2,20.4,4

In [8]:
X

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,1990,18,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1,sj,1990,19,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
2,sj,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4
3,sj,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0
4,sj,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451,iq,2010,21,2010-05-28,0.342750,0.318900,0.256343,0.292514,55.30,299.334286,...,45.00,88.765714,55.30,18.485714,9.800000,28.633333,11.933333,35.4,22.4,27.0
1452,iq,2010,22,2010-06-04,0.160157,0.160371,0.136043,0.225657,86.47,298.330000,...,207.10,91.600000,86.47,18.070000,7.471429,27.433333,10.500000,34.7,21.7,36.6
1453,iq,2010,23,2010-06-11,0.247057,0.146057,0.250357,0.233714,58.94,296.598571,...,50.60,94.280000,58.94,17.008571,7.500000,24.400000,6.900000,32.2,19.2,7.4
1454,iq,2010,24,2010-06-18,0.333914,0.245771,0.278886,0.325486,59.67,296.345714,...,62.33,94.660000,59.67,16.815714,7.871429,25.433333,8.733333,31.2,21.0,16.0
1455,iq,2010,25,2010-06-25,0.298186,0.232971,0.274214,0.315757,63.22,298.097143,...,36.90,89.082857,63.22,17.355714,11.014286,27.475000,9.900000,33.7,22.2,20.4

In [36]:
y

0       4
1       5
2       4
3       3
4       6
       ..
1451    5
1452    8
1453    1
1454    1
1455    4
Name: total_cases, Length: 1456, dtype: int64

In [9]:
def get_preprocessed_X(X, time_column='week_start_date', format='%Y-%m-%d'):
    
    # Timed features.
    X_new = X.copy()
    X_new[time_column] = pd.to_datetime(X_new[time_column], format=format)
 
    X_new['year'] =  X_new[time_column].apply(lambda x: x.year)
    X_new.loc[:,'dayofyear'] = X_new[time_column].apply(lambda x: x.dayofyear)
    X_new['weekofyear'] =  X_new[time_column].apply(lambda x: x.weekofyear)

    numerical_cols = list(X_new.select_dtypes(include=[np.number]).columns)
    categorical_cols = list(X_new.select_dtypes(include=[object]).columns)

    numerical_transformer = Pipeline(
        steps =[('imputer', SimpleImputer()),]
        )

    categorical_transformer = Pipeline(steps=[
        ('onehot', OneHotEncoder())
    ])

    preprocessor = ColumnTransformer(
        transformers=[
            ('num', numerical_transformer, numerical_cols),
            ('cat', categorical_transformer, categorical_cols)
        ])

    return pd.DataFrame(preprocessor.fit_transform(X_new), columns=numerical_cols + ['iq', 'sj'])

In [12]:
log_transformer = FunctionTransformer(np.log1p, inverse_func=np.expm1)
y_preprocessed = log_transformer.transform(y)
y_preprocessed

0       1.609438
1       1.791759
2       1.609438
3       1.386294
4       1.945910
          ...
1451    1.791759
1452    2.197225
1453    0.693147
1454    0.693147
1455    1.609438
Name: total_cases, Length: 1456, dtype: float64

In [13]:
X_preprocessed = get_preprocessed_X(X, time_column='week_start_date', format='%Y-%m-%d')
X_preprocessed

,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,...,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,dayofyear,iq,sj
0,1990.0,18.0,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,297.742857,292.414286,...,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0,120.0,0.0,1.0
1,1990.0,19.0,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,298.442857,293.951429,...,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6,127.0,0.0,1.0
2,1990.0,20.0,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,298.878571,295.434286,...,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4,134.0,0.0,1.0
3,1990.0,21.0,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,299.228571,295.310000,...,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0,141.0,0.0,1.0
4,1990.0,22.0,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,299.664286,295.821429,...,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8,148.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451,2010.0,21.0,0.342750,0.318900,0.256343,0.292514,55.30,299.334286,300.771429,296.825714,...,18.485714,9.800000,28.633333,11.933333,35.4,22.4,27.0,148.0,1.0,0.0
1452,2010.0,22.0,0.160157,0.160371,0.136043,0.225657,86.47,298.330000,299.392857,296.452857,...,18.070000,7.471429,27.433333,10.500000,34.7,21.7,36.6,155.0,1.0,0.0
1453,2010.0,23.0,0.247057,0.146057,0.250357,0.233714,58.94,296.598571,297.592857,295.501429,...,17.008571,7.500000,24.400000,6.900000,32.2,19.2,7.4,162.0,1.0,0.0
1454,2010.0,24.0,0.333914,0.245771,0.278886,0.325486,59.67,296.345714,297.521429,295.324286,...,16.815714,7.871429,25.433333,8.733333,31.2,21.0,16.0,169.0,1.0,0.0
1455,2010.0,25.0,0.298186,0.232971,0.274214,0.315757,63.22,298.097143,299.835714,295.807143,...,17.355714,11.014286,27.475000,9.900000,33.7,22.2,20.4,176.0,1.0,0.0

In [28]:
model = xgb.XGBRegressor(max_depth=5,
                     learning_rate=0.1,
                     n_estimators=100,n_jobs=-1)

In [29]:
xgb_reg = model.fit(X_preprocessed, y)
xgb_reg_log = model.fit(X_preprocessed, y_preprocessed)

In [30]:
X_test = pd.read_csv(test_dir)
X_test_preprocessed = get_preprocessed_X(X_test)

In [31]:
results = xgb_reg.predict(X_test_preprocessed)
results_log = log_transformer.inverse_transform(xgb_reg_log.predict(X_test_preprocessed))

In [32]:
results

array([1.7397509 , 1.591074  , 1.5920805 , 2.1154885 , 1.8412606 ,
       2.2287948 , 1.9331269 , 2.6351047 , 2.4287167 , 2.453741  ,
       2.5560327 , 2.7220366 , 2.9848826 , 3.3097405 , 3.9081583 ,
       3.8955204 , 3.6645906 , 3.8530583 , 4.7834115 , 4.873838  ,
       4.4098344 , 4.106569  , 4.453153  , 4.0129933 , 4.040141  ,
       3.7629502 , 3.3044684 , 3.691908  , 3.5083437 , 3.4250379 ,
       3.154438  , 2.7656934 , 2.5016062 , 2.502263  , 2.12563   ,
       2.0817714 , 2.0657394 , 2.1323476 , 2.1107645 , 1.9996464 ,
       1.6757522 , 1.8414223 , 1.5173581 , 1.5331256 , 1.2432778 ,
       1.2265648 , 0.9504261 , 1.0153868 , 0.91831523, 1.0844258 ,
       1.1139702 , 1.1650233 , 1.0291324 , 0.91395426, 1.1516103 ,
       1.0966007 , 2.0162718 , 1.7959089 , 1.6407776 , 2.2720017 ,
       2.02307   , 2.7084203 , 3.3669488 , 2.9616284 , 3.1591256 ,
       3.674605  , 3.5890052 , 3.787471  , 3.67948   , 4.332975  ,
       3.738776  , 3.2592754 , 3.1570916 , 3.7331753 , 4.068267  ,
       3.776311  , 4.3117337 , 3.6180747 , 3.6146226 , 2.7608275 ,
       2.830003  , 3.4484475 , 3.281813  , 2.591845  , 2.5421147 ,
       1.9617077 , 1.8087882 , 1.7742819 , 1.9920843 , 2.2852302 ,
       2.4830213 , 2.1180031 , 1.7417202 , 1.8398113 , 1.9064578 ,
       1.9546381 , 1.9418254 , 1.7627546 , 1.692199  , 1.7710344 ,
       1.6214538 , 1.5985305 , 0.8990856 , 1.5120375 , 2.1936104 ,
       2.3286157 , 1.4328684 , 2.0519445 , 2.3302963 , 2.697339  ,
       3.0210812 , 2.5623834 , 2.3545947 , 2.604635  , 3.0584474 ,
       3.6431541 , 2.8854363 , 3.0335536 , 3.5971987 , 3.9607792 ,
       4.2023444 , 4.4596047 , 4.3342004 , 4.2358766 , 3.7026575 ,
       3.9222794 , 3.7009733 , 3.751224  , 4.2630854 , 3.3696983 ,
       3.6983447 , 3.1555507 , 3.6340594 , 2.198554  , 2.358785  ,
       1.9778023 , 1.6866605 , 1.7577066 , 1.7629683 , 1.6092674 ,
       1.9131621 , 2.184409  , 2.218341  , 2.1868062 , 1.9623514 ,
       1.8600912 , 1.7865738 , 1.706629  , 1.3552717 , 1.1213897 ,
       1.2124076 , 1.0719689 , 1.1388116 , 1.2206506 , 1.1024195 ,
       0.9244252 , 1.1137817 , 1.3348378 , 1.1294278 , 1.2523323 ,
       1.5224186 , 2.2236578 , 2.269287  , 2.569356  , 2.8522546 ,
       2.8258948 , 2.222032  , 2.5759053 , 2.3222792 , 3.3652604 ,
       3.1568816 , 3.5825691 , 3.6812148 , 3.6982303 , 3.5430868 ,
       3.633746  , 3.6777368 , 3.3600352 , 3.7020373 , 3.8064137 ,
       3.7119818 , 3.7943645 , 2.9042118 , 3.4053657 , 3.5326796 ,
       3.1627312 , 2.7215633 , 2.530324  , 2.4392889 , 2.4318461 ,
       1.6291101 , 1.7200271 , 2.0840764 , 2.141441  , 2.1831324 ,
       1.7638589 , 1.8600501 , 1.8028293 , 1.8007357 , 1.6685802 ,
       1.5459893 , 1.1796362 , 1.0988563 , 1.2518829 , 1.188076  ,
       1.2320431 , 1.1273584 , 1.3350846 , 1.1650758 , 1.648682  ,
       0.97894895, 2.0621915 , 1.774521  , 1.5812691 , 2.6833344 ,
       2.536227  , 3.071074  , 2.7497537 , 2.6597652 , 2.7283607 ,
       2.635241  , 3.1569986 , 3.05389   , 3.5685394 , 3.4438016 ,
       3.344853  , 3.2227979 , 3.3244321 , 3.7967243 , 3.6334636 ,
       4.1744227 , 3.6992984 , 3.4233134 , 3.8610666 , 3.8166003 ,
       4.189459  , 3.9085653 , 3.0905151 , 3.0624099 , 2.6683393 ,
       2.476194  , 1.988961  , 1.4237765 , 1.9499323 , 2.2486238 ,
       1.9414182 , 2.0953946 , 1.9642667 , 1.742191  , 1.6471841 ,
       1.7687608 , 1.6922355 , 1.2555354 , 0.94706666, 1.063259  ,
       1.6240692 , 1.471334  , 1.5612693 , 1.3152494 , 1.1200916 ,
       1.488155  , 1.1600766 , 1.6600175 , 0.90226907, 1.1645572 ,
       1.352876  , 1.4560788 , 1.1479597 , 1.1705089 , 1.4224917 ,
       1.2203678 , 0.75124866, 1.406028  , 1.0961354 , 1.4808187 ,
       1.1207571 , 1.5141429 , 1.7220263 , 1.5293157 , 1.7557433 ,
       1.482944  , 1.6948123 , 1.4956269 , 1.6395873 , 0.85124826,
       0.2053538 , 0.878202  , 3.0229616 , 2.3895144 , 2.550618  ,
       2.547356  , 2.6048968 , 2.6397355 , 2.74083   , 2.6051388 ,
       2.6125138 , 2.2643301 , 1.9420874 , 2.0160196 , 2.2174335 ,
       1.684701  , 1.7840748 , 1.4291764 , 1.9681132 , 1.9484107 ,
       0.6061736 , 1.0617906 , 1.3517866 , 1.1387359 , 0.7260642 ,
       1.2829891 , 0.6324577 , 1.1157408 , 0.78395   , 0.84248936,
       1.4575169 , 0.9125829 , 1.5101391 , 1.7129354 , 1.3283144 ,
       1.0424284 , 1.2965537 , 0.9125391 , 1.4435014 , 1.7882646 ,
       0.9536683 , 1.2494311 , 1.2867122 , 1.6130087 , 1.4763956 ,
       1.5607077 , 1.6003237 , 1.6694856 , 1.6105478 , 1.5375304 ,
       1.3350742 , 1.3715565 , 1.4803854 , 1.6973906 , 2.169039  ,
       2.5810733 , 2.4882643 , 2.581241  , 2.4257588 , 2.271344  ,
       2.8970442 , 2.8012357 , 2.081054  , 2.0185974 , 1.3811089 ,
       1.8714608 , 2.0810921 , 1.4110574 , 1.806032  , 1.9346929 ,
       1.5584939 , 1.6308429 , 1.2036668 , 1.6305462 , 1.2369171 ,
       1.2255507 , 1.0445356 , 0.94955707, 1.343603  , 1.605922  ,
       0.984544  , 1.2030306 , 1.3047248 , 1.2880297 , 1.00346   ,
       1.1483332 , 1.2887087 , 1.8795626 , 1.2808965 , 0.89694655,
       1.09708   , 1.1282465 , 1.5602806 , 1.217144  , 1.3652403 ,
       1.0502932 , 1.5630095 , 1.7840102 , 1.5788485 , 1.6735324 ,
       1.4353559 , 1.9064183 , 1.5664127 , 1.0040509 , 0.69442767,
       2.2936592 , 2.5510542 , 2.4449499 , 2.993822  , 2.7159579 ,
       2.7472744 , 2.6523356 , 2.7093582 , 2.796936  , 2.3046985 ,
       2.196972  , 2.1433637 , 2.193601  , 1.787536  , 1.7522751 ,
       1.7974108 , 1.9714801 , 1.4657636 , 1.8027675 , 1.8018813 ,
       1.1186693 , 1.6038599 , 1.5627497 , 0.9818258 , 0.6555595 ,
       1.1649075 ], dtype=float32)

In [33]:
results_log

array([  4.6959243 ,   3.9090183 ,   3.9139616 ,   7.2936363 ,
         5.3044806 ,   8.288665  ,   5.911087  ,  12.944772  ,
        10.344315  ,  10.631781  ,  11.884598  ,  14.21127   ,
        18.78418   ,  26.378021  ,  48.807137  ,  48.181644  ,
        38.04015   ,  46.137005  , 118.51137   , 129.82204   ,
        81.255844  ,  59.737957  ,  84.89736   ,  54.31219   ,
        55.834362  ,  42.075317  ,  26.23406   ,  39.121323  ,
        32.392914  ,  29.723808  ,  22.439861  ,  14.890055  ,
        11.202078  ,  11.210094  ,   7.3781734 ,   7.0186605 ,
         6.8911304 ,   7.4346447 ,   7.2545495 ,   6.386444  ,
         4.3428125 ,   5.3055    ,   3.5601616 ,   3.6326342 ,
         2.4669588 ,   2.409497  ,   1.5868117 ,   1.760431  ,
         1.5050664 ,   1.957741  ,   2.0464292 ,   2.2059977 ,
         1.7986366 ,   1.4941657 ,   2.1632824 ,   1.9939711 ,
         6.510273  ,   5.0249486 ,   4.1591797 ,   8.698796  ,
         6.561504  ,  14.005552  ,  27.989939  ,  18.329422  ,
        22.549994  ,  38.433075  ,  35.19805   ,  43.14462   ,
        38.625786  ,  75.17055   ,  41.046494  ,  25.03067   ,
        22.502144  ,  40.81166   ,  57.455563  ,  42.654697  ,
        73.56966   ,  36.26575   ,  36.13733   ,  14.812923  ,
        15.945512  ,  30.451525  ,  25.623997  ,  12.354388  ,
        11.706513  ,   6.111461  ,   5.1030474 ,   4.8960457 ,
         6.330797  ,   8.827948  ,  10.977396  ,   7.314518  ,
         4.7071524 ,   5.29535   ,   5.72921   ,   6.061363  ,
         5.971465  ,   4.82847   ,   4.4314113 ,   4.8769293 ,
         4.0604415 ,   3.9457593 ,   1.457355  ,   3.5359635 ,
         7.967531  ,   9.263723  ,   3.1907024 ,   6.7830205 ,
         9.280987  ,  13.84019   ,  19.513458  ,  11.966685  ,
         9.533859  ,  12.526287  ,  20.294468  ,  37.212173  ,
        16.91138   ,  19.770912  ,  35.495857  ,  51.498215  ,
        65.84286   ,  85.45333   ,  75.263954  ,  68.12224   ,
        39.554935  ,  49.515457  ,  39.48669   ,  41.573162  ,
        70.02879   ,  28.069756  ,  39.38041   ,  22.465958  ,
        36.86622   ,   8.011973  ,   9.578091  ,   6.226843  ,
         4.401413  ,   4.799123  ,   4.829716  ,   3.9991474 ,
         5.7744765 ,   7.885395  ,   8.19207   ,   7.906721  ,
         6.11604   ,   5.4243226 ,   4.9689665 ,   4.510355  ,
         2.8778143 ,   2.0691166 ,   2.3615682 ,   1.9211253 ,
         2.1230547 ,   2.389392  ,   2.0114434 ,   1.5204191 ,
         2.045855  ,   2.7993796 ,   2.0938857 ,   2.4984932 ,
         3.583297  ,   8.241072  ,   8.6725025 ,  12.057412  ,
        16.326803  ,  15.8760395 ,   8.22606   ,  12.14321   ,
         9.198894  ,  27.941032  ,  22.497208  ,  34.965824  ,
        38.694588  ,  39.375786  ,  33.573475  ,  36.85435   ,
        38.556767  ,  27.790203  ,  39.529793  ,  43.988804  ,
        39.93485   ,  43.449978  ,  17.250853  ,  29.12531   ,
        33.215527  ,  22.63506   ,  14.204073  ,  11.557573  ,
        10.464885  ,  10.379871  ,   4.0993347 ,   4.5846796 ,
         7.037165  ,   7.511695  ,   7.87406   ,   4.8349104 ,
         5.4240584 ,   5.0667877 ,   5.0541    ,   4.3046308 ,
         3.6926117 ,   2.2531905 ,   2.0007322 ,   2.496921  ,
         2.2807631 ,   2.4282267 ,   2.0874898 ,   2.8003173 ,
         2.2061658 ,   4.2001214 ,   1.6616572 ,   6.863183  ,
         4.897455  ,   3.8611214 ,  13.633806  ,  11.631921  ,
        20.565052  ,  14.63878   ,  13.292933  ,  14.307772  ,
        12.946673  ,  22.499958  ,  20.197643  ,  34.464756  ,
        30.305746  ,  27.356405  ,  24.098244  ,  26.783216  ,
        43.554996  ,  36.843666  ,  64.002304  ,  39.418938  ,
        29.670872  ,  46.516006  ,  44.449432  ,  64.987076  ,
        48.82741   ,  20.988401  ,  20.379017  ,  13.416008  ,
        10.895901  ,   6.3079367 ,   3.1527739 ,   6.028212  ,
         8.474689  ,   5.9686265 ,   7.128648  ,   6.129682  ,
         4.70984   ,   4.192338  ,   4.8635826 ,   4.431609  ,
         2.5097167 ,   1.578136  ,   1.895793  ,   4.073694  ,
         3.3550408 ,   3.7648654 ,   2.72568   ,   2.0651348 ,
         3.4289167 ,   2.1901777 ,   4.2594028 ,   1.4651904 ,
         2.2045035 ,   2.8685353 ,   3.2891078 ,   2.1517558 ,
         2.2236326 ,   3.1474416 ,   2.3884337 ,   1.1196451 ,
         3.0797186 ,   1.9925785 ,   3.396544  ,   2.0671754 ,
         3.5455234 ,   4.595856  ,   3.6150177 ,   4.787748  ,
         3.4058976 ,   4.445624  ,   3.4621332 ,   4.1530423 ,
         1.3425691 ,   0.22795944,   1.4065689 ,  19.552069  ,
         9.908196  ,  11.81502   ,  11.773285  ,  12.529829  ,
        13.009497  ,  14.499844  ,  12.533103  ,  12.633279  ,
         8.624676  ,   5.973292  ,   6.508379  ,   8.18373   ,
         4.3908386 ,   4.9540687 ,   3.175259  ,   6.1571593 ,
         6.017526  ,   0.8334026 ,   1.8915439 ,   2.8643234 ,
         2.1228182 ,   1.0669296 ,   2.6074066 ,   0.8822308 ,
         2.051828  ,   1.190106  ,   1.3221405 ,   3.2952807 ,
         1.4907475 ,   3.5273604 ,   4.5452156 ,   2.7746756 ,
         1.8360958 ,   2.656673  ,   1.4906385 ,   3.2354999 ,
         4.979068  ,   1.5952122 ,   2.488358  ,   2.6208622 ,
         4.017886  ,   3.3771403 ,   3.7621903 ,   3.9546359 ,
         4.309436  ,   4.0055523 ,   3.653085  ,   2.800278  ,
         2.9414809 ,   3.394639  ,   4.459682  ,   7.7498713 ,
        12.21131   ,  11.0403595 ,  12.213525  ,  10.310809  ,
         8.692418  ,  17.120506  ,  15.464979  ,   7.01291   ,
         6.5277586 ,   2.9793117 ,   5.4977813 ,   7.0132155 ,
         3.1002886 ,   5.086249  ,   5.921918  ,   3.7516592 ,
         4.1081786 ,   2.3323135 ,   4.106663  ,   2.4449768 ,
         2.4060411 ,   1.8420784 ,   1.5845647 ,   2.8328283 ,
         3.9824512 ,   1.676591  ,   2.330194  ,   2.6866744 ,
         2.6256359 ,   1.7277036 ,   2.1529331 ,   2.6280985 ,
         5.550639  ,   2.5998657 ,   1.4521043 ,   1.9954066 ,
         2.090233  ,   3.7601566 ,   2.3775277 ,   2.9166644 ,
         1.8584892 ,   3.7731645 ,   4.953684  ,   3.8493686 ,
         4.3309655 ,   3.20114   ,   5.728945  ,   3.789436  ,
         1.7293155 ,   1.0025626 ,   8.911139  ,  11.820613  ,
        10.529972  ,  18.961834  ,  14.119085  ,  14.600055  ,
        13.187136  ,  14.019633  ,  15.394338  ,   9.021156  ,
         7.997726  ,   7.528075  ,   7.967446  ,   4.974713  ,
         4.7677097 ,   5.034004  ,   6.181298  ,   3.330849  ,
         5.066413  ,   5.0610394 ,   2.0607784 ,   3.9721875 ,
         3.7719247 ,   1.6693256 ,   0.9262199 ,   2.2056262 ],
      dtype=float32)

In [39]:
score = mean_absolute_error(y, xgb_reg.predict(X_preprocessed))
score

22.230779410771014

In [40]:
score_log = mean_absolute_error(y, 
                                log_transformer.inverse_transform(
                                    xgb_reg_log.predict(X_preprocessed)))
score_log

5.377550670667855

In [41]:
def get_test_output(X_test, predictions, indexes = ['city', 'year', 'weekofyear'], exponentiate=False, file_dir = '../data/output.csv'):
    """
    Input:
        X_test - 
        predictions - for both cities indexed as X_test requires it and 
                        with the same number of rows as X_test. 
        indexes (List(str)) - By default the columns of X_test for the required format,
                        i.e., ['city', 'year', 'weekofyear'];
        exp (bool) - to exponentiate predictions or not;
                     
        file_dir (str) - directory with the filename of the output csv file;
                         Give an empty string if saving the output is not desired.
        
    Returns:
        output_df (pd.DataFrame) - Dataframe with formatted results
        csv file
    """

    # 1. Exponentiate the predictions if needed.
    if exponentiate:
        result = np.round(np.expm1(predictions)).astype(int)
    else:
        result = np.round(predictions).astype(int)

    # 2. Make the dictionary for the output dataframe format.
    out_dict = {}
    for index in indexes:
        out_dict[index] = X_test[index]

    out_dict['total_cases'] = result
    output_df = pd.DataFrame.from_dict(out_dict).set_index(indexes)
    
    # 3. Save predictions in a csv file ready for submission.
    if file_dir:
        print("Saved predictions in competition file format in path {} . /n".format(file_dir))
        output_df.to_csv(file_dir)
        print('\n')

    return output_df

In [42]:
out_df = get_test_output(X_test, results, indexes = ['city', 'year', 'weekofyear'], exponentiate=False, file_dir = 'scratch_output.csv')
out_df

Saved predictions in competition file format in path scratch_output.csv . /n

                      total_cases
city year weekofyear
sj   2008 18                    2
          19                    2
          20                    2
          21                    2
          22                    2
...                           ...
iq   2013 22                    2
          23                    2
          24                    1
          25                    1
          26                    1

[416 rows x 1 columns]

In [43]:
out_df_log = get_test_output(X_test, results_log, indexes = ['city', 'year', 'weekofyear'], exponentiate=False, file_dir = 'scratch_output_log.csv')
out_df_log

Saved predictions in competition file format in path scratch_output_log.csv . /n

                      total_cases
city year weekofyear
sj   2008 18                    5
          19                    4
          20                    4
          21                    7
          22                    5
...                           ...
iq   2013 22                    4
          23                    4
          24                    2
          25                    1
          26                    2

[416 rows x 1 columns]