In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import OneHotEncoder, StandardScaler,  MinMaxScaler, FunctionTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.compose import TransformedTargetRegressor

from sklearn.metrics import mean_absolute_error
import xgboost as xgb
#import lightgbm as lgb

## 1. Global parameters

In [30]:
features_dir = '../data/01_raw/dengue_features_train.csv'
labels_dir = '../data/01_raw/dengue_labels_train.csv'
test_dir = '../data/01_raw/dengue_features_test.csv'

#logged = True

test_output_dir = 'seasonality_output.csv'

## 2. Building blocks functions

In [4]:
def get_train_data(features_dir, labels_dir):
    """ 
    Input:
        str to csv with train features and labels
        drop: to drop NaNs from feature columns.

    Output:
         X, y
    
    """
    features = pd.read_csv(features_dir)
    labels = pd.read_csv(labels_dir)

    data = features.merge(labels)
    
    X = data.drop(columns=['total_cases'])
    y = data.loc[:,'total_cases']
    print("Loading of training data finished.\n")
        
    return data, X, y

In [5]:
data, X, y = get_train_data(features_dir, labels_dir)
data

Loading of training data finished.

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,total_cases
0,sj,1990,18,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0,4
1,sj,1990,19,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6,5
2,sj,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4,4
3,sj,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0,3
4,sj,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451,iq,2010,21,2010-05-28,0.342750,0.318900,0.256343,0.292514,55.30,299.334286,...,88.765714,55.30,18.485714,9.800000,28.633333,11.933333,35.4,22.4,27.0,5
1452,iq,2010,22,2010-06-04,0.160157,0.160371,0.136043,0.225657,86.47,298.330000,...,91.600000,86.47,18.070000,7.471429,27.433333,10.500000,34.7,21.7,36.6,8
1453,iq,2010,23,2010-06-11,0.247057,0.146057,0.250357,0.233714,58.94,296.598571,...,94.280000,58.94,17.008571,7.500000,24.400000,6.900000,32.2,19.2,7.4,1
1454,iq,2010,24,2010-06-18,0.333914,0.245771,0.278886,0.325486,59.67,296.345714,...,94.660000,59.67,16.815714,7.871429,25.433333,8.733333,31.2,21.0,16.0,1
1455,iq,2010,25,2010-06-25,0.298186,0.232971,0.274214,0.315757,63.22,298.097143,...,89.082857,63.22,17.355714,11.014286,27.475000,9.900000,33.7,22.2,20.4,4

In [6]:
X

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,1990,18,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1,sj,1990,19,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
2,sj,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4
3,sj,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0
4,sj,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451,iq,2010,21,2010-05-28,0.342750,0.318900,0.256343,0.292514,55.30,299.334286,...,45.00,88.765714,55.30,18.485714,9.800000,28.633333,11.933333,35.4,22.4,27.0
1452,iq,2010,22,2010-06-04,0.160157,0.160371,0.136043,0.225657,86.47,298.330000,...,207.10,91.600000,86.47,18.070000,7.471429,27.433333,10.500000,34.7,21.7,36.6
1453,iq,2010,23,2010-06-11,0.247057,0.146057,0.250357,0.233714,58.94,296.598571,...,50.60,94.280000,58.94,17.008571,7.500000,24.400000,6.900000,32.2,19.2,7.4
1454,iq,2010,24,2010-06-18,0.333914,0.245771,0.278886,0.325486,59.67,296.345714,...,62.33,94.660000,59.67,16.815714,7.871429,25.433333,8.733333,31.2,21.0,16.0
1455,iq,2010,25,2010-06-25,0.298186,0.232971,0.274214,0.315757,63.22,298.097143,...,36.90,89.082857,63.22,17.355714,11.014286,27.475000,9.900000,33.7,22.2,20.4

In [7]:
y

0       4
1       5
2       4
3       3
4       6
       ..
1451    5
1452    8
1453    1
1454    1
1455    4
Name: total_cases, Length: 1456, dtype: int64

In [8]:
def get_preprocessed_X(X, time_column='week_start_date', format='%Y-%m-%d'):
    
    # Timed features.
    X_new = X.copy()
    X_new[time_column] = pd.to_datetime(X_new[time_column], format=format)
 
    X_new['year'] =  X_new[time_column].apply(lambda x: x.year)
    X_new.loc[:,'month'] = X_new[time_column].apply(lambda x: x.month)
    X_new.loc[:,'dayofyear'] = X_new[time_column].apply(lambda x: x.dayofyear)
    X_new['weekofyear'] =  X_new[time_column].apply(lambda x: x.weekofyear)

    numerical_cols = list(X_new.select_dtypes(include=[np.number]).columns)
    categorical_cols = list(X_new.select_dtypes(include=[object]).columns)

    numerical_transformer = Pipeline(
        steps =[('imputer', SimpleImputer()),]
        )

    categorical_transformer = Pipeline(steps=[
        ('onehot', OneHotEncoder())
    ])

    preprocessor = ColumnTransformer(
        transformers=[
            ('num', numerical_transformer, numerical_cols),
            ('cat', categorical_transformer, categorical_cols)
        ])

    return pd.DataFrame(preprocessor.fit_transform(X_new), columns=numerical_cols + ['iq', 'sj'])

In [9]:
log_transformer = FunctionTransformer(np.log1p, inverse_func=np.expm1)
y_preprocessed = log_transformer.transform(y)
y_preprocessed

0       1.609438
1       1.791759
2       1.609438
3       1.386294
4       1.945910
          ...
1451    1.791759
1452    2.197225
1453    0.693147
1454    0.693147
1455    1.609438
Name: total_cases, Length: 1456, dtype: float64

In [10]:
X_preprocessed = get_preprocessed_X(X, time_column='week_start_date', format='%Y-%m-%d')
X_preprocessed

,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,...,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,month,dayofyear,iq,sj
0,1990.0,18.0,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,297.742857,292.414286,...,2.628571,25.442857,6.900000,29.4,20.0,16.0,4.0,120.0,0.0,1.0
1,1990.0,19.0,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,298.442857,293.951429,...,2.371429,26.714286,6.371429,31.7,22.2,8.6,5.0,127.0,0.0,1.0
2,1990.0,20.0,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,298.878571,295.434286,...,2.300000,26.714286,6.485714,32.2,22.8,41.4,5.0,134.0,0.0,1.0
3,1990.0,21.0,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,299.228571,295.310000,...,2.428571,27.471429,6.771429,33.3,23.3,4.0,5.0,141.0,0.0,1.0
4,1990.0,22.0,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,299.664286,295.821429,...,3.014286,28.942857,9.371429,35.0,23.9,5.8,5.0,148.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451,2010.0,21.0,0.342750,0.318900,0.256343,0.292514,55.30,299.334286,300.771429,296.825714,...,9.800000,28.633333,11.933333,35.4,22.4,27.0,5.0,148.0,1.0,0.0
1452,2010.0,22.0,0.160157,0.160371,0.136043,0.225657,86.47,298.330000,299.392857,296.452857,...,7.471429,27.433333,10.500000,34.7,21.7,36.6,6.0,155.0,1.0,0.0
1453,2010.0,23.0,0.247057,0.146057,0.250357,0.233714,58.94,296.598571,297.592857,295.501429,...,7.500000,24.400000,6.900000,32.2,19.2,7.4,6.0,162.0,1.0,0.0
1454,2010.0,24.0,0.333914,0.245771,0.278886,0.325486,59.67,296.345714,297.521429,295.324286,...,7.871429,25.433333,8.733333,31.2,21.0,16.0,6.0,169.0,1.0,0.0
1455,2010.0,25.0,0.298186,0.232971,0.274214,0.315757,63.22,298.097143,299.835714,295.807143,...,11.014286,27.475000,9.900000,33.7,22.2,20.4,6.0,176.0,1.0,0.0

In [11]:
model = xgb.XGBRegressor(max_depth=5,
                     learning_rate=0.1,
                     n_estimators=100,n_jobs=-1)

model_log = xgb.XGBRegressor(max_depth=5,
                     learning_rate=0.1,
                     n_estimators=100,n_jobs=-1)

In [12]:
xgb_reg = model.fit(X_preprocessed, y)
xgb_reg_log = model_log.fit(X_preprocessed, y_preprocessed)

In [13]:
X_test = pd.read_csv(test_dir)
X_test_preprocessed = get_preprocessed_X(X_test)

In [14]:
results = xgb_reg.predict(X_test_preprocessed)
results_log = log_transformer.inverse_transform(xgb_reg_log.predict(X_test_preprocessed))

In [15]:
results

array([ 4.79650259e+00,  4.52510595e+00,  4.88779449e+00,  6.02153206e+00,
        8.16819096e+00,  8.85915661e+00,  9.26807499e+00,  1.37953205e+01,
        2.09136429e+01,  1.15609846e+01,  1.96179771e+01,  1.31818895e+01,
        3.51512909e+01,  3.22071838e+01,  5.26257324e+01,  7.07189713e+01,
        4.54950638e+01,  9.24596558e+01,  9.92239685e+01,  1.14525375e+02,
        7.61421280e+01,  4.04857063e+01,  4.26782112e+01,  5.14573708e+01,
        4.33250465e+01,  3.25188675e+01,  2.98752518e+01,  4.06873627e+01,
        3.06440067e+01,  3.13156185e+01,  3.72321014e+01,  1.68140488e+01,
        1.80918999e+01,  2.34882374e+01,  6.32887888e+00,  1.32989483e+01,
        1.71850681e+01,  1.74161930e+01,  1.65393906e+01,  1.49901800e+01,
        1.36599112e+01,  1.28223829e+01,  1.19834080e+01,  1.21502323e+01,
        8.94771004e+00,  4.91761303e+00,  5.90359974e+00,  4.36582279e+00,
        3.76150465e+00,  3.09439278e+00,  3.79033470e+00,  3.68625522e+00,
        3.26975560e+00,  3.42022753e+00,  1.68078554e+00,  3.86662573e-01,
        9.67188263e+00,  6.68342590e+00,  1.10261087e+01,  1.51954861e+01,
        1.00298204e+01,  2.91560555e+01,  3.73107147e+01,  3.47367973e+01,
        4.55280190e+01,  4.80870171e+01,  5.59569588e+01,  6.39308052e+01,
        4.70949745e+01,  6.67610855e+01,  7.20286713e+01,  4.05264473e+01,
        8.72198410e+01,  6.74151688e+01,  9.11808624e+01,  9.27261429e+01,
        9.15197525e+01,  8.32911987e+01,  6.06909523e+01,  2.16835346e+01,
        2.40242043e+01,  3.49451752e+01,  4.57334023e+01,  3.37910614e+01,
        2.50832310e+01,  3.17977219e+01,  2.03791504e+01,  8.78777313e+00,
        1.54621096e+01,  1.89172306e+01,  1.30727987e+01,  1.52729769e+01,
        1.37230673e+01,  1.60259266e+01,  1.32941942e+01,  1.39067516e+01,
        1.10366879e+01,  8.36332130e+00,  4.79134846e+00,  8.01092148e+00,
        1.42842607e+01,  5.26438284e+00,  4.07367325e+00,  6.42854881e+00,
        2.10632992e+01,  1.93694401e+01,  1.26476641e+01,  1.71373901e+01,
        1.88172264e+01,  1.96161327e+01,  2.71436825e+01,  2.63596115e+01,
        3.21584663e+01,  3.65877419e+01,  4.22105179e+01,  5.79751167e+01,
        3.95948372e+01,  2.42222576e+01,  6.97890244e+01,  8.39563675e+01,
        7.00565720e+01,  6.98263626e+01,  7.72146149e+01,  9.80673294e+01,
        7.50384750e+01,  8.47455750e+01,  7.88469315e+01,  6.36812630e+01,
        1.06669029e+02,  8.67274780e+01,  6.63008270e+01,  3.51861191e+01,
        3.89605827e+01,  2.28531799e+01,  2.36492577e+01,  1.76350517e+01,
        1.71448021e+01,  1.52183027e+01,  1.53260956e+01,  5.30684805e+00,
        1.24175224e+01,  1.41007433e+01,  2.03397732e+01,  1.57624626e+01,
        1.46312962e+01,  1.13874855e+01,  1.10018253e+01,  1.22132959e+01,
        9.90103436e+00,  5.37990713e+00,  6.19175720e+00,  4.50634718e+00,
        5.25292826e+00,  3.46059251e+00,  3.43798208e+00,  3.18782353e+00,
        2.88169360e+00,  4.93491411e+00, -9.70129073e-02,  2.89858246e+00,
        5.49497795e+00,  2.06563034e+01,  2.45220871e+01,  2.78037968e+01,
        3.15171700e+01,  2.75690212e+01,  2.77178993e+01,  2.57421665e+01,
        2.02284393e+01,  2.34708424e+01,  2.39878464e+01,  5.83355255e+01,
        5.87382355e+01,  6.24668503e+01,  6.27257576e+01,  6.42703476e+01,
        7.85243073e+01,  3.37749062e+01,  3.57843132e+01,  7.55872269e+01,
        5.62951851e+01,  4.23615990e+01,  2.38294830e+01,  3.84725113e+01,
        3.16162109e+01,  3.19654865e+01,  2.68221703e+01,  2.57386875e+01,
        2.51557617e+01,  2.13523064e+01,  8.44197369e+00,  9.39717388e+00,
        1.99926186e+01,  1.85447044e+01,  1.95256176e+01,  1.49932289e+01,
        1.24876442e+01,  1.08030539e+01,  9.51345348e+00,  1.02330904e+01,
        1.11866217e+01,  6.75927067e+00,  5.47938251e+00,  4.20491743e+00,
        5.73288059e+00,  4.87277412e+00,  2.61566257e+00,  5.47071981e+00,
        3.67581725e+00,  5.74004555e+00,  3.90536356e+00,  1.45776052e+01,
        5.42464733e+00,  7.09615517e+00,  2.09433823e+01,  2.02069283e+01,
        3.11817207e+01,  2.88689079e+01,  2.90423260e+01,  2.38580875e+01,
        1.63031597e+01,  1.71314392e+01,  3.87062225e+01,  2.04656239e+01,
        5.42241287e+01,  4.86330643e+01,  2.27120514e+01,  4.52066383e+01,
        9.06948471e+01,  9.21462173e+01,  8.98059845e+01,  8.46395950e+01,
        5.87120476e+01,  5.50080109e+01,  6.37712364e+01,  8.59714203e+01,
        5.05035095e+01,  4.37529182e+01,  3.41357193e+01,  2.80077496e+01,
        2.21889439e+01,  1.69511585e+01,  1.15516119e+01,  1.31582956e+01,
        1.42506905e+01,  1.50911779e+01,  1.73685341e+01,  1.35724640e+01,
        1.38937883e+01,  1.07354116e+01,  1.22879181e+01,  1.16665897e+01,
        7.86467600e+00,  5.70261526e+00,  5.70175171e+00,  6.01407003e+00,
        2.83241844e+00,  7.07810307e+00,  5.07367945e+00,  3.60168672e+00,
        4.46810341e+00,  2.86739945e+00,  6.30897617e+00,  5.45501041e+00,
        3.01641917e+00,  4.78769493e+00,  3.87444925e+00,  4.33421183e+00,
        3.97420637e-02,  2.76223636e+00,  4.60653973e+00,  5.16761494e+00,
        5.18504000e+00,  5.24484968e+00,  4.29773140e+01,  4.99556923e+00,
        1.72513657e+01,  9.56869030e+00,  7.96949387e+00,  9.62756538e+00,
        1.04749012e+01,  1.05493288e+01,  1.19461117e+01,  9.97447777e+00,
        5.24155998e+00,  1.19275465e+01,  1.30675230e+01,  1.91169739e+01,
        1.34806585e+01,  1.56609402e+01,  1.55437641e+01,  1.52079773e+01,
        1.77102871e+01,  1.53161898e+01,  1.21200247e+01,  1.24244890e+01,
        9.77925301e+00,  8.86884022e+00,  8.41526222e+00,  8.03299713e+00,
        5.75588989e+00,  7.32382202e+00,  5.81301737e+00,  6.38178825e+00,
        6.44871616e+00,  1.95879519e+00,  4.51700306e+00,  5.57346153e+00,
        3.74107599e+00,  3.16959095e+00,  2.28088999e+00,  2.84799933e+00,
        4.35536242e+00,  2.46290469e+00,  2.81874204e+00,  4.69743872e+00,
        1.97840166e+00,  4.96543932e+00,  7.74448919e+00,  2.90661073e+00,
        2.61675549e+00,  3.18976927e+00,  2.36050820e+00,  6.71038866e+00,
        6.15766954e+00,  1.34536886e+01,  1.16956949e+01,  1.06605473e+01,
        5.32592106e+00,  1.21743984e+01,  6.97340393e+00,  1.28350916e+01,
        1.53091383e+01,  8.18472576e+00,  7.53743219e+00,  1.51391716e+01,
        1.60784283e+01,  1.42930298e+01,  4.79816389e+00,  1.94659901e+01,
        1.40647078e+01,  1.51337614e+01,  1.44768476e+01,  1.45875597e+01,
        1.35920248e+01,  1.43126774e+01,  1.34840183e+01,  8.80637550e+00,
        7.58881998e+00,  6.16256428e+00,  5.52016926e+00,  7.49155617e+00,
        2.33407521e+00,  5.71817923e+00,  5.70079374e+00,  6.75449514e+00,
        5.98720694e+00,  2.45667720e+00,  5.02584362e+00,  2.78589106e+00,
        2.73581290e+00,  3.75585580e+00,  2.80722404e+00,  3.85540676e+00,
        3.96922064e+00,  2.44472790e+00,  4.62400436e+00,  3.50532842e+00,
        3.65690565e+00,  3.95678234e+00,  2.45034528e+00,  5.42346048e+00,
        8.62894726e+00,  6.74624395e+00,  7.04330397e+00,  1.03863800e+00,
        3.09678912e+00,  4.34190607e+00,  1.18522816e+01,  1.15871983e+01,
        1.07011118e+01,  1.16663303e+01,  6.86457825e+00,  5.24070835e+00,
        1.16880665e+01,  2.55531311e+01,  1.44740105e+01,  8.21031952e+00,
        8.73303986e+00,  3.54693627e+00,  1.13474970e+01,  1.22776833e+01,
        1.41666441e+01,  1.74483414e+01,  2.80248470e+01,  1.72568150e+01,
        1.29305077e+01,  1.66293564e+01,  1.40096722e+01,  1.04026527e+01,
        8.77764511e+00,  6.39732361e+00,  7.40530205e+00,  5.28699541e+00,
        6.21393108e+00,  6.10690165e+00,  8.33721447e+00,  3.27644420e+00,
        4.50306940e+00,  7.22545958e+00,  3.57840776e+00,  8.90281868e+00,
        3.58965278e+00,  2.37689257e+00,  4.69236946e+00,  3.01307964e+00],
      dtype=float32)

In [16]:
results_log

array([  4.3675356 ,   3.302826  ,   3.5944676 ,   6.4786553 ,
         5.3961926 ,   8.620106  ,   7.078862  ,  12.153279  ,
        10.575521  ,  11.3862095 ,  12.667451  ,  14.930373  ,
        18.270327  ,  27.78002   ,  52.88355   ,  49.76302   ,
        38.573578  ,  45.612694  , 103.02521   , 142.41077   ,
        77.29615   ,  62.720585  ,  78.441925  ,  50.22961   ,
        58.212173  ,  40.782135  ,  22.298231  ,  41.021667  ,
        32.82696   ,  28.59143   ,  21.346611  ,  16.124949  ,
        13.825642  ,  11.929054  ,   7.984641  ,   7.0837154 ,
         6.553768  ,   7.069247  ,   7.4481893 ,   6.3785057 ,
         4.5946627 ,   5.7898316 ,   4.2829456 ,   4.6162863 ,
         3.3547673 ,   2.4488947 ,   1.8694268 ,   2.220048  ,
         1.5820683 ,   2.3272822 ,   2.1744707 ,   2.1247401 ,
         1.7211187 ,   1.4974637 ,   2.1021798 ,   2.1745203 ,
         5.559479  ,   5.3539453 ,   4.6565285 ,   6.9752564 ,
         7.522935  ,  18.652054  ,  30.508408  ,  21.943222  ,
        31.040737  ,  49.38154   ,  41.637074  ,  52.010296  ,
        42.272625  ,  65.9201    ,  50.446426  ,  26.992493  ,
        24.642576  ,  41.06744   ,  64.772484  ,  71.61662   ,
        78.07767   ,  35.182655  ,  39.35343   ,  13.956882  ,
        16.54959   ,  31.39393   ,  26.60177   ,  11.85581   ,
        10.885466  ,  10.031496  ,   7.9938226 ,   3.771953  ,
         6.357278  ,   7.9146094 ,  12.597626  ,   6.6883483 ,
         5.438531  ,   5.479274  ,   6.599476  ,   5.7812953 ,
         8.091546  ,   6.3115215 ,   5.425418  ,   6.4230127 ,
         5.3676157 ,   4.9528704 ,   1.5344083 ,   2.8069205 ,
         7.88926   ,   9.981064  ,   4.3436403 ,   7.5185003 ,
         9.151962  ,  11.511907  ,  19.552597  ,  11.958261  ,
         9.942238  ,  13.7651415 ,  19.874886  ,  37.215435  ,
        16.373323  ,  19.43882   ,  34.38516   ,  49.531826  ,
        61.63169   ,  75.97213   ,  66.67784   ,  79.561005  ,
        41.52958   ,  53.5256    ,  40.26219   ,  44.622734  ,
        77.48342   ,  25.4369    ,  40.676865  ,  28.504005  ,
        36.07083   ,   7.9079766 ,   9.676755  ,   5.6094155 ,
         4.338211  ,   3.2563767 ,   4.2980027 ,   3.8058326 ,
         6.1134305 ,   8.009967  ,   8.546659  ,   8.690856  ,
         6.6643567 ,   6.1283655 ,   5.679776  ,   4.5924864 ,
         3.2175863 ,   2.5194533 ,   2.75782   ,   1.9727765 ,
         2.21592   ,   3.015771  ,   2.002936  ,   1.5092118 ,
         2.1172152 ,   3.0466428 ,   2.216959  ,   2.6081357 ,
         3.7229838 ,   8.70051   ,   7.936675  ,  14.026159  ,
        18.831074  ,  18.570044  ,   9.028331  ,  12.681529  ,
        10.687266  ,  29.807722  ,  26.510155  ,  33.676994  ,
        38.712715  ,  38.60463   ,  39.032288  ,  38.067684  ,
        36.761147  ,  27.220987  ,  47.76218   ,  42.953773  ,
        40.941895  ,  46.98467   ,  18.569118  ,  30.761938  ,
        31.041286  ,  21.048374  ,  13.702761  ,  12.493899  ,
         9.054824  ,   9.708979  ,   3.8670695 ,   3.8003125 ,
         7.57659   ,   7.040454  ,   8.158229  ,   6.5872974 ,
         5.166182  ,   5.148455  ,   5.423998  ,   4.1255684 ,
         3.7896924 ,   2.2690911 ,   2.2663107 ,   2.8528824 ,
         2.1527557 ,   2.271805  ,   1.8293016 ,   3.1722853 ,
         2.543949  ,   4.4385624 ,   1.3012393 ,   7.262969  ,
         4.578364  ,   4.4927516 ,  14.209656  ,  14.889407  ,
        24.327269  ,  18.972763  ,  14.37371   ,  14.865607  ,
        13.097988  ,  21.410225  ,  23.603065  ,  38.359997  ,
        36.283604  ,  32.238945  ,  24.101284  ,  28.112925  ,
        49.38066   ,  48.390816  ,  81.16051   ,  38.86075   ,
        33.447956  ,  52.99331   ,  59.77272   ,  74.96641   ,
        48.08205   ,  22.594353  ,  21.726612  ,  17.371078  ,
         9.063751  ,   3.8891466 ,   3.418168  ,   6.283055  ,
         8.2293005 ,   6.6035066 ,   7.5370283 ,   6.33975   ,
         5.0204306 ,   4.198839  ,   5.5191526 ,   4.989144  ,
         3.0210288 ,   1.7223763 ,   2.2758994 ,   5.644179  ,
         3.4856882 ,   3.9003172 ,   3.1880045 ,   2.040399  ,
         3.8536801 ,   2.0524354 ,   4.739357  ,   1.5943155 ,
         2.6078815 ,   2.5513787 ,   2.6216216 ,   2.5111656 ,
         1.8901324 ,   2.2227812 ,   2.1296566 ,   1.7102793 ,
         2.407177  ,   1.7910529 ,   2.0214143 ,   1.9625263 ,
         2.583134  ,   3.8069768 ,   3.62228   ,   4.0813637 ,
         2.6749215 ,   4.0034204 ,   2.6188335 ,   3.82692   ,
         1.5265102 ,   0.22562511,   1.4638832 ,  22.006805  ,
         7.904613  ,  10.016383  ,  11.188002  ,  10.420895  ,
        10.2715645 ,  14.308359  ,  12.669081  ,  12.585183  ,
         8.285107  ,   7.7826204 ,   6.992887  ,   8.075672  ,
         5.2621775 ,   4.9258375 ,   3.5245507 ,   5.1805086 ,
         5.8488016 ,   0.94870836,   1.7184066 ,   2.833995  ,
         1.9680752 ,   0.9887231 ,   2.4682703 ,   0.74686956,
         2.2571259 ,   0.89613354,   1.4413186 ,   3.03663   ,
         1.2514086 ,   3.5748677 ,   4.0273814 ,   2.2761526 ,
         1.4974548 ,   1.5453968 ,   1.161335  ,   1.93757   ,
         4.1031795 ,   1.6442034 ,   2.205594  ,   3.5966709 ,
         3.7679467 ,   3.3316543 ,   3.5829687 ,   3.5113237 ,
         4.9315996 ,   4.672158  ,   3.4040513 ,   3.1130998 ,
         6.9027567 ,   2.9159312 ,   5.2744217 ,   8.985996  ,
        10.695858  ,   8.553731  ,   9.484404  ,  10.865355  ,
         8.574281  ,  14.712863  ,   9.286496  ,   7.2581735 ,
         7.3709116 ,   2.7301114 ,   5.167507  ,   7.2041645 ,
         2.8114624 ,   5.341151  ,   6.109971  ,   4.4914894 ,
         4.309196  ,   1.8936039 ,   3.5406053 ,   2.0642474 ,
         2.5792718 ,   1.7240062 ,   1.5481311 ,   3.5602827 ,
         3.0673785 ,   1.9546483 ,   1.6838531 ,   3.2359312 ,
         1.8624518 ,   1.7526762 ,   1.9786644 ,   2.5989482 ,
         3.4841292 ,   2.4786458 ,   1.2079482 ,   2.1353023 ,
         1.4994376 ,   2.232858  ,   2.56351   ,   2.8489895 ,
         2.0550902 ,   2.945804  ,   5.462265  ,   3.8020697 ,
         3.5750597 ,   2.2467036 ,   5.5758533 ,   3.5404158 ,
         1.3978075 ,   0.58138627,   9.534956  ,  10.445089  ,
         9.896655  ,  17.80496   ,  10.578047  ,  12.819251  ,
        14.896171  ,  12.578419  ,  18.174885  ,   8.959356  ,
         6.949677  ,   6.805435  ,   6.5399947 ,   5.695917  ,
         5.3001056 ,   5.685273  ,   5.446971  ,   3.2423782 ,
         3.7693117 ,   5.401911  ,   1.7880504 ,   2.3898466 ,
         3.5204878 ,   1.4573628 ,   1.0927887 ,   2.0622017 ],
      dtype=float32)

In [17]:
score = mean_absolute_error(y, xgb_reg.predict(X_preprocessed))
score

3.9908139029400074

In [18]:
score_log = mean_absolute_error(y, 
                                log_transformer.inverse_transform(
                                    xgb_reg_log.predict(X_preprocessed)))
score_log

5.38587785526601

In [19]:
def get_test_output(X_test, predictions, indexes = ['city', 'year', 'weekofyear'], file_dir = '../data/output.csv'):
    """
    Input:
        X_test - 
        predictions - for both cities indexed as X_test requires it and 
                        with the same number of rows as X_test. 
        indexes (List(str)) - By default the columns of X_test for the required format,
                        i.e., ['city', 'year', 'weekofyear'];
                     
        file_dir (str) - directory with the filename of the output csv file;
                         Give an empty string if saving the output is not desired.
        
    Returns:
        output_df (pd.DataFrame) - Dataframe with formatted results
        csv file
    """

    # 2. Make the dictionary for the output dataframe format.
    out_dict = {}
    for index in indexes:
        out_dict[index] = X_test[index]

    out_dict['total_cases'] =  np.round(predictions).astype(int) 
    output_df = pd.DataFrame.from_dict(out_dict).set_index(indexes)
    
    # 3. Save predictions in a csv file ready for submission.
    if file_dir:
        print("Saved predictions in competition file format in path {} . /n".format(file_dir))
        output_df.to_csv(file_dir)
        print('\n')

    return output_df

In [20]:
out_df = get_test_output(X_test, results, indexes = ['city', 'year', 'weekofyear'], file_dir = 'scratch_output.csv')
out_df

Saved predictions in competition file format in path scratch_output.csv . /n

                      total_cases
city year weekofyear
sj   2008 18                    5
          19                    5
          20                    5
          21                    6
          22                    8
...                           ...
iq   2013 22                    9
          23                    4
          24                    2
          25                    5
          26                    3

[416 rows x 1 columns]

In [21]:
out_df_log = get_test_output(X_test, results_log, indexes = ['city', 'year', 'weekofyear'], file_dir = 'scratch_output_log.csv')
out_df_log

Saved predictions in competition file format in path scratch_output_log.csv . /n

                      total_cases
city year weekofyear
sj   2008 18                    4
          19                    3
          20                    4
          21                    6
          22                    5
...                           ...
iq   2013 22                    2
          23                    4
          24                    1
          25                    1
          26                    2

[416 rows x 1 columns]

## Pipeline

#### Comparing target y versus log

In [22]:
data, X, y = get_train_data(features_dir, labels_dir)

log_transformer = FunctionTransformer(np.log1p, inverse_func=np.expm1)
y_preprocessed = log_transformer.transform(y)

X_preprocessed = get_preprocessed_X(X, time_column='week_start_date', format='%Y-%m-%d')

model = xgb.XGBRegressor(max_depth=5,
                     learning_rate=0.1,
                     n_estimators=100,n_jobs=-1)

model_log = xgb.XGBRegressor(max_depth=5,
                     learning_rate=0.1,
                     n_estimators=100,n_jobs=-1)

xgb_reg = model.fit(X_preprocessed, y)
xgb_reg_log = model_log.fit(X_preprocessed, y_preprocessed)

X_test = pd.read_csv(test_dir)
X_test_preprocessed = get_preprocessed_X(X_test)

results = xgb_reg.predict(X_test_preprocessed)
results_log = log_transformer.inverse_transform(xgb_reg_log.predict(X_test_preprocessed))

score = mean_absolute_error(y, xgb_reg.predict(X_preprocessed))
print("Score: {}".format(score))

score_log = mean_absolute_error(y, 
                                log_transformer.inverse_transform(
                                    xgb_reg_log.predict(X_preprocessed)))
print("Score log: {}".format(score_log))


out_df = get_test_output(X_test, results, indexes = ['city', 'year', 'weekofyear'], file_dir = 'scratch_output.csv')
out_df_log = get_test_output(X_test, results_log, indexes = ['city', 'year', 'weekofyear'], file_dir = 'scratch_output_log.csv')

Loading of training data finished.

Score: 3.9908139029400074
Score log: 5.38587785526601
Saved predictions in competition file format in path scratch_output.csv . /n


Saved predictions in competition file format in path scratch_output_log.csv . /n

In [23]:
out_df.head()

                      total_cases
city year weekofyear
sj   2008 18                    5
          19                    5
          20                    5
          21                    6
          22                    8

In [24]:
out_df_log.head()

                      total_cases
city year weekofyear
sj   2008 18                    4
          19                    3
          20                    4
          21                    6
          22                    5

### Conclusion: Use y without log for the model above

## Seasonality investigation

In [31]:
data, X, y = get_train_data(features_dir, labels_dir)

X_preprocessed = get_preprocessed_X(X, time_column='week_start_date', format='%Y-%m-%d')

model = xgb.XGBRegressor(max_depth=5,
                     learning_rate=0.1,
                     n_estimators=100,n_jobs=-1)

xgb_reg = model.fit(X_preprocessed, y)

score = mean_absolute_error(y, xgb_reg.predict(X_preprocessed))
print("Score: {}".format(score))

results = xgb_reg.predict(X_test_preprocessed)
out_df = get_test_output(X_test, results, indexes = ['city', 'year', 'weekofyear'], file_dir = test_output_dir)

X_test = pd.read_csv(test_dir)
X_test_preprocessed = get_preprocessed_X(X_test)

Loading of training data finished.

Score: 3.9908139029400074
Saved predictions in competition file format in path seasonality_output.csv . /n